body {
	text-align: center;
	margin: auto;
}

#start-button {
	margin: auto;
	text-align: center;
}

.titlebox {
	background-color: #eee;
	text-align: center;
	font-family: 'Arial';
	width: 50%;
	margin: auto;
	padding: 5px 0px;
}

#submit {
	background-color: turquoise;
	color: black;
	border-radius: 5px;
	border-color: black;
	border-width: 1.5px;
	padding: 5px;
	font-family: 'helvetica';
}

.choices {
	font-family: 'helvetica';
	margin: 15px 0px;
}

#test_status {
	font-family: 'helvetica';
}

#test_choice {

}